<form class="ap-form" action="EMPLEOS SAVEJOB" data-validator="newJobValidator">
	<div class="row">
		<div class="col s12">
			<h1>Nueva oferta</h1>
			<p>Cree una nueva oferta laboral para atraer posibles trabajadores interesados.</p>

			<!-- kind -->
			<div class="input-field">
				<select id="kind" name="kind" class="materialize-select">
					<option value=""></option>
					<option value="OFERTA">Oferta de empleo</option>
					<option value="SOLICITUD">Solicitud de empleo</option>
				</select>
				<label for="category">Escoja el tipo de anuncio</label>
			</div>

			<!-- title -->
			<div class="input-field">
				<textarea id="title" name="title" maxlength="140" class="remainder materialize-textarea" required="" aria-required="true"></textarea>
				<label for="title">Escriba un título (<span>0</span>/140)</label>
			</div>

			<!-- description -->
			<div class="input-field">
				<textarea id="desc" name="desc" maxlength="1000" class="remainder materialize-textarea"></textarea>
				<label for="desc">Describa su trabajo (<span>0</span>/1000)</label>
			</div>

			<!-- categories -->
			<div class="input-field">
				<select id="category" name="category" class="materialize-select">
					<option value=""></option>
					<% for(var item in categories) { %>
						<option value="<%= item %>"><%= categories[item] %></option>
					<% } %>
				</select>
				<label for="category">Escoja una categoría</label>
			</div>

			<!-- email -->
			<div class="input-field">
				<input id="email" name="email" type="text" value="<%= email %>" required="" aria-required="true"/>
				<label for="email">Informaci&oacute;n de contacto (email, tel&eacute;fono) </label>
			</div>
		</div>
	</div>

	<div class="bottom-space"></div>

	<!-- BUTTON -->
	<div id="btn" class="fixed-action-btn">
		<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.send({'command':'EMPLEOS OFERTAS'})">
			<i class="material-icons">arrow_back</i>
		</a>
		<button type="submit" class="btn-floating btn-large waves-effect waves-light green">
			<i class="material-icons">save</i>
		</button>
	</div>
</form>